@use '../abstracts/index' as *;

.card {
  max-width: to-rem(375);
  width: 90%;
  text-align: left;
  padding: to-rem(15);
  border-radius: to-rem(5);

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(300);
  }
}

.icon {
  width: to-rem(48);
  height: to-rem(48);
  display:block;
  margin-left: auto;
}

.supervisor {
  box-shadow: to-rem(3) to-rem(5) to-rem(10) $grayish-blue, to-rem(-3) to-rem(5) to-rem(10) $grayish-blue, 0 to-rem(-5) 0 $cyan;

}

.team-builder {
  box-shadow: to-rem(3) to-rem(5) to-rem(10) $grayish-blue, to-rem(-3) to-rem(5) to-rem(10) $grayish-blue, 0 to-rem(-5) 0 $red;

}

.karma {
  box-shadow: to-rem(3) to-rem(5) to-rem(10) $grayish-blue, to-rem(-3) to-rem(5) to-rem(10) $grayish-blue, 0 to-rem(-5) 0 $orange;

}

.calculator {
  box-shadow: to-rem(3) to-rem(5) to-rem(10) $grayish-blue, to-rem(-3) to-rem(5) to-rem(10) $grayish-blue, 0 to-rem(-5) 0 $blue;


  @media only screen and (min-width: $desktop-layout) {
    margin-bottom: 0;
  }
}