@use '../abstracts/index' as *;

.introduction {
  max-width: to-rem(375);
  text-align:center;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(300);
  }
}
.semi-header {
  margin-bottom: to-rem(5);
  font-size: $base-font-size*1.1;
}

.perex {
  margin-bottom: to-rem(20);
  font-size: $base-font-size;
}
