@use '../abstracts/index' as *;

.introduction {
  align-items: center;
  justify-content: column;
  max-width: to-rem(375);
  width: 90%;
  text-align:center;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(300);
  }
}
.semi-header {
  margin-bottom: 5px;
  font-size: $base-font-size*1.1;
}

.perex {
  margin-bottom: 20px;
  font-size: $base-font-size;
}
