@use 'breakpoints' as *;
@use 'functions' as *;

.card-container {
  display: grid;
  gap: to-rem(30) 0;
  grid-template-columns: 1fr;
  max-width: to-rem(375);
  justify-items: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: to-rem(15) 0;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(900);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

}

.container {
  max-width: to-rem(375);
  width: 100%;
  margin: auto;
  overflow: hidden;
  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(900);
  }
}